@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.iniciarSesion{
    background-color: yellow;
    margin:auto;
    margin-top:80px;
    max-width:400px;
    text-align: center; 
    outline: none;
}

.card-title{    
    color: rgb(60,173,228);
    width:100%;
    /*width: 275px;*/
    margin-top:30px;
    text-align: left;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
}

#cuadroForm{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin:auto;
}

#btnIngresar{
    background-color:rgb(60,173,228);
    border:solid 1px rgb(60,173,228);  
    margin-top: 15px;
}

.campo{
    /*width:300px;*/
    width: 100%;
    /*margin-left: 40px;*/
}

#campo1{
    margin-top: 30px;
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    .iniciarSesion{
        width:280px;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 

 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {  }